    <main class="contenedor contenedor-formularios no-padding">
        <h1><%- nombrePagina %></h1>

        <form class="default-form" action="/editar-password" method="POST">
            <div class="campo">
                <label>Password Actual</label>
                <input type="password" name="password" placeholder="Password Actual">
            </div>
             <div class="campo">
                <label>Nuevo Password</label>
                <input type="password" name="nuevo_password" placeholder="Nuevo Password">
            </div>
             <div class="campo">
                <label>Confirmar Password</label>
                <input type="password" name="confirmar_password" placeholder="Confirmar Password">
            </div>
            <div class="campo enviar">
                <input type="submit" class="btn btn-rosa" value="Guardar">
            </div>
        </form>
    </main>


