<main class="contenedor contenedor-formularios">
	<h1><%= nombrePagina %></h1>
	<form class="default-form" method="POST">
		<legend>¿Eliminar Meeti? No se podrá recuperar despues de eliminarlo</legend>
		<div class="campo enviar">
			<input type="submit" value="Eliminar" class="btn btn-rosa">&nbsp;&nbsp;
			<a href="/admin" class="btn btn-azul">Cancelar</a>
		</div>
	</form>
</main>