<h1 style=" 
   
	text-align: center;
	font-family: Arial, Helvetica;
   ";

>Confirma tu cuenta en Meeti</h1>
<p style="font-family: Arial, Helvetica;">Hola, estas a un paso de crear una comunidad en Meeti, solo necesitas confirmar tu cuenta en el siguiente enlace:</p>
<a style="
	display: block;
	font-family: Arial, Helvetica;
	padding: 1rem;
	background-color: #00C897;	
	color: white;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;

 "
href="<%= url%>" >confirmar cuenta</a>
<p style="font-family: Arial, Helvetica;">Sino puedes visitar el enlace, viista: <%= url%></p>
<p style="font-family: Arial, Helvetica;">Si tu no solicitaste este email puedes ignorarlo</p>